*,
*::before,
*::after {
	box-sizing: border-box;
}

/* canvas {
	position: relative;
	z-index: -1;
	left: 0;
	top: 0;
} */

#graphic {
    margin: auto;
    width: 1500px;
    flex-direction: row;
    align-items: top;
    justify-content: space-around;
}

/* #sections {
    position: relative;
    display: inline-block;
    width: 400px;
    top: 60px;
    z-index: 90;
    margin-right: 50px;
} */

.step {
  margin-bottom: 100px;
  height: 700px;
  z-index: 1;
}

#data-visualization {
  display: inline-block;
  position: fixed;
  top: 50vh;
  margin-left: 0;
  height: 1000px;
  width: 1000px;
  z-index: -1;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }    
}

p {
	font-family: var(--body-font-family);
	font-size: var(--body-font-size);
}

body {
	padding-bottom: 10px;
	background-image: url(./img/bg_img.png);
}

section:first-of-type {
	height: 100vh;
}

h1 {
	font-family: var(--heading-font-family);
	font-size: var(--title-font-size);
}

h1 div {
	font-style: var(--title-sm-font-style);
	font-size: var(--title-sm-font-size);
}

.string-btn {
	position: relative;
	background-color: transparent;
	border: none;
	margin-top: -30px;
	top: 0px;
	transition: top ease 0.5s;
}

.string-btn:hover {
	background-color: transparent;
	top: 30px;
}

.ghibli-posters {
  animation: 7000ms ease-in-out 0s infinite alternate none running floating;
}

.text-handwritten {
	color: red;
	font-family: var(--hand-written-font);
	font-size: var(--hand-written-font-size);
}

.intro {
	text-align: center;
	max-width: 590px;
	background-color: #fff;
	padding: 32px 24px;
	margin-bottom: 16px;
	margin: 0 auto;
	border-radius: 6px;
}

.intro-title {
	font-family: var(--heading-font-family);
	font-size: 28px;
	font-weight: bold;
	color: var(--subtitle-color);
}

.intro-detail {
	font-family: var(--body-font-family);
	font-size: 20px;
	font-weight: 100;
	color: var(--text-color);
}
@media (min-width: 1440px) {
	h1 {
		font-family: var(--heading-font-family);
		font-size: var(--title-font-size);
	}

	h1 > div {
		font-style: var(--title-sm-font-style);
		font-size: var(--title-sm-font-size);
	}
}
